.page-item img {
    max-height: unset !important;
    min-height: unset !important;
    height: unset !important;
    position: unset !important;
}

.page-item div {
    height: fit-content;
    overflow: unset !important;
    position: unset !important;
}
